@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css");

.footer-section {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-section p {
  margin: 0;
  font-size: 14px;
}

.footer-section a {
  color: #2cbd19;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #28a745;
}
